@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @Html.ActionLink(Localizer.GetLocalizedString("download"), "DownloadPdf", "Home", null, new Dictionary<string, object>{{"class", "btn btn-secondary"}, {"target", "_blank"}})

</div>
